<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <a href="https://twitter.com/mac_experts">macnick</a></small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>